.content-contact{
padding: 0;
align-content: center;
  margin: 0;
}
.font-link-title {
  font-family: 'Quicksand', sans-serif;
  margin-left: 30%;
  padding: 20px;

}

.row{
  padding: 0 0 30px;
  align-content: center;
  margin: 0;
}
.col{
  padding: 0;
  align-content: center;
  margin: 0;
}
.col-6{
  padding: 0;
  align-content: center;
  margin: 0;
}