.page-holder {

  position: relative;
  text-align: center;
  color: #e0d2d2;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2b2b2b;
  opacity: 0.8;
  padding: 30px 60px;
  max-height: 30vh;


}
.text-head{
  font-size:4vw;
}
.text-sub-head{
  font-size:1.5vw;
}

.bg-cover {
  background-size: cover !important;

}